.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu{
  background-color: #101828;
}

.button-expand{
  margin-top: 20px;
}

.logo-title{
  align-items: center;
  color: white;
}

:root {
  font-size: 14px;
}

.tree-view {
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  width: max-content;
  
  font-size: 1.25rem;
  
  padding-left: 1rem;
  
  user-select: none;
}

.branch-node {
  position: relative;
  
  padding-left: 2rem;
  
  cursor: pointer;
}

.branch-node::before, .branches > ::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 1.4rem;
  width: 3rem;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.branch-node:not(:last-child)::before, .branches > :not(:last-child)::before {
  height: 100%;
}

.branch-node:last-child::before, .branches > :last-child::before {
  border-top: 0;
  border-bottom: 1px solid black;
}

:not(.tree-view) > .branch-node:first-child::after, .branches > :first-child::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -16px;
  height: 2.6rem;
  border-left: 1px solid black;
}

.branch-title {
  position: relative;
  
  display: list-item;
  list-style: none;
  
  width: max-content;
  height: 3rem;
  line-height: 3rem;
  
  padding-left: 3rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
}

.branch-title::before {
    content: "⌄";
    position: absolute;
    top: -6px;
    left: 1.9rem;
    margin-right: 1rem;
}

.branch-node.open > .branch-title::before {
  /* transform: rotate(90deg); */
}

.branch-node.open > .branches {
  display: initial;
}

.branches {
  display: none;
  
  padding: 0;
  margin: 0;
}

.branches > .branch-node {
  margin-left: 2rem;
}

.branches > li {
  position: relative;
  
  list-style: none;
  
  width: fit-content;
  min-height: 4rem;
  line-height: 3rem;
  
  margin-left: 2rem;
  padding-left: 3rem;
}
ul>li>.bg-base-200{
  background-color: #9ff443;
}

.font-normal{
  color: #aea9a9  !important;
}
.menu>li>a:hover{
   
  background-color: aliceblue !important;
}